/target
*.db
*.db-shm
*.db-wal
.DS_Store
/uploads
/key_x25519
/bot_key
/uwsgi-sogs-proxied.ini
__pycache__
*.pyc
/protobuf.*/

# This file is for local config which we never want committed:
/sogs.ini
